# Database configuration
POSTGRES_USER=tesla
POSTGRES_PASSWORD=teslapass
POSTGRES_DB=tesladb

# Security
JWT_SECRET_KEY=super-secret-jwt-key

# SMTP Configuration (Gmail Example)
SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-app-password
